html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0px 0px 0px 0px;
    overflow: hidden;
}

#gui {
    position: absolute;
    top: 0rem;
    left: 80%;
}
.leftMenu {
    top: 1%;
    left: 1%;
    width: 20%;
    max-height: 80%;
}
.rightMenu {
    top: 1%;
    right: 1%;
    width: 20%;
    max-height: 80%;
}
.objButton{
    color: black;
    background-color: aliceblue;
    border-radius: 0%;
    
}
.objButton:hover{
    background-color: lightblue;
}